@import "tailwindcss";

@theme {
  --color-brand-primary: #2B64FD;
  --color-brand-secondary: #AAC8FD;
  --color-brand-primary-hover: #1E56F0;
}

@keyframes fillProgress {
  0% {
    height: 0%;
  }

  100% {
    height: 100%;
  }
}